body{
    padding-bottom: 1000px;
}
nav{
    display: flex;
}nav .p1{
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: #fff;
    padding: 0.5em;
}.p2{
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: #fff;
    padding: 0.5em;
}.p3{
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: #fff;
    padding: 0.5em;
    
}.listt{
    list-style: none;
    background-color: #4d7298;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 10px;
}.container{
    width: 400px;
    height: 300px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4d7298;
    border-radius: 10px;

}.containerr{
    width: 400px;
    height: 300px;
   padding: 10px;
   
   position: relative;
    border: 2px solid #4d7298;
    border-radius: 10px;
    margin-bottom: 30px;

}.list{
    list-style: none;
    background-color: #4d7298;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 10px;
    border-top: 2px solid red;
    border-right: 0px solid red;
    position: absolute;
    
    
}


.newfile{
    display: flex;
   flex-wrap: wrap;
   gap: 10px;
   max-width: 350px;
   justify-content: center;
   background-color: aquamarine;

}.newfile li{
    list-style: none;
    background-color: #466c93;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}