.green{
    text-align: center;
    font-weight: 600;
    font-family: Montserrat;
}.gg{
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
}.red{
    text-decoration: underline;
    font-family: Montserrat;
}.img{
    width: 400px;
    height: 300px;
  
}